<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Org Stream</title>
	{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'orgs/style.css' %}">
  <!-- <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png"> -->
  <!-- <link rel="canonical" href="http://example.com/"> -->
  <meta name="description" content="mygoodness organization stream">
</head>
<body>
	<div class="poll index container">
    <a href="{% url 'orgs:detail' org.id %}">
      <div class="inner-container">
        {{ org }} stream
        {{ org.title_text}}
      </div>
    </a>
	</div>
</body>
</html>