<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Org Stream</title>
  {% load static %}
  <link rel="stylesheet" href="https://use.typekit.net/rcm5cpa.css">
  <link rel="stylesheet" type="text/css" href="{% static 'orgs/style.css' %}">
  <!-- <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png"> -->
  <!-- <link rel="canonical" href="http://example.com/"> -->
  <meta name="description" content="mygoodness organization stream">
</head>
<body>
  <div class="organization detail container" 
    style="background: url({{ org.background_image }}) no-repeat center center fixed;">
    
    <div class="inner-container">
      <h3 class="category-text">{{ org.category_text }}</h3>
      <h1 class="title-text">{{ org.title_text }}</h1>
      <button class="button-label">
        <a href="{% url 'orgs:detail' org.id %}" class="button-link_to-detail">{{ org.button_label }}</a>
      </button>
    </div>
    
	</div>
</body>
</html>