@font-face {font-family: "Trade Gothic Next LT Pro BdCn"; 
  src: url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.eot"); 
  src: url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.woff") format("woff"), url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.svg#Trade Gothic Next LT Pro BdCn") format("svg"); }

:root {
  --inner-container-width: 301px;

  --outer-container-height: 501px;
  --outer-container-width: 375px;
}

body {
  margin: 0;
}

.container {
  box-shadow: 1px 1px 1px 1px #aaa;
}

/* STREAM */

.organization.stream.container {
  height: var(--outer-container-height);
  width: var(--outer-container-width);
  
  margin: 62px auto 50px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.organization.stream .inner-container {
  color: #fff;

  margin: 0 auto;
  padding: 15px 9px 23px;
  
  min-height: 192px;
  width: var(--inner-container-width);
}

.organization.stream .category-text {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 310px 0 0;
  font-size: 0.92rem;
  font-weight: 600;
  height: 17px;
  line-height: 1;
  padding-top: 3px;
}

.organization.stream .title-text {
  font-family: trade-gothic-next-compressed, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  height: 85px;
  line-height: 1;
  text-transform: uppercase;
}

button.button-label {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin: 8px 0 29px;
  padding: 9px 18px 8px;
  height: 32px;
  background: linear-gradient(#3497fd 0%, #3acce1 100%);
  border: none;
  border-radius: 8px;

  color: #fff;
}

a.button-link_to-detail {
  text-decoration: none;
  color: #fff;
}


/* DETAIL */
.organization.detail.container {
  height: auto;
  width: var(--outer-container-width);
  margin: 62px auto 50px;
  color: #000;
}

.organization.detail header h1{
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.08rem;
  margin: 0 auto 13px;
  padding-top: 30px;
  text-align: center;
}

.organization.detail figure {
  margin: 0;
}
.organization.detail figure img {
  height: var(--outer-container-width);
  width: var(--outer-container-width);
  text-align: center;
}